.parameter {
    height:150px;
}

button {
    border:none;
    font-size: 20px;
    background-color:rgb(165, 165, 165);
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.5;
    margin-left: 30px;
}

button:hover {
    cursor: pointer;
    transition: .1s;
    opacity: 1;
}

button:active {
    background-color:cornflowerblue;
    transition: 0s;
}



#confirm {
    width: 150px;
    height:50px;
}

#toggle_all {
    width:80px;
    height:50px;
}

#warning {
    color:rgb(179, 70, 70);
    
}

#save {
    width:30px;
    height:30px;
}

#save_div {
    align-self: flex-start;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#save_div p {
    margin-top:30px;
    line-height: 0;
}