body {
    margin:0;
    background-color:#222228;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display:flex;
    padding-left: 10px;
    color:white;
    background-color:black;
    align-items: center;
    height:100px;
    width:100% - 10px;
    flex-direction: row;
}

#header h1 {
    font-size: 50px;
}

#content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}

.parameter {
    margin-left:10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
    width:15%;
    height:250px;
    background-color:#111111;
    border-radius: 5px;
    color:rgb(211, 211, 211);
    overflow: auto;
    padding: 10px 10px 10px 10px;
}

.parameter p {
    margin-top: 0;
    font-size: 2vw;
    font-weight: bold;
    align-self: start;
}

.parameter input {
    margin-top: 40px;
    width:90%;
    opacity:0.5;
    align-self: center;
}

.parameter input:hover,input:active {
    opacity: 1;
    transition: 100ms;
}

input[type="checkbox"] {
    width:70px;
    height:70px;
}

input[type="number"] {
    width:100px;
    text-align: center;
    height:50px;
    font-size: 30px;
}

button {
    width:100px;
    height:40px;
    border:none;
    background-color:rgba(255,255,255,0.1);
    color:white;
    font-size: 20px;
    font-weight: bold;
}
button:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
    transition: 0.1s;
}
button:active {
    background-color: rgba(255,255,255,0.15);
    transition: 0s;
}


.parameter img {
    width:40px;
    height:60px;
    cursor:pointer;
}

.parameter img {
    opacity: .7;
    align-self: normal;
}

.parameter img:hover {
    opacity: 1;
    transition: 100ms;
}

.parameter *:last-of-type {
    margin-top: auto;
}

.locked {
    box-shadow: inset 0 0 50px #550000;
    transition: .2s;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
